.App {
  text-align: center;
}

form.form-container .MuiFormControl-root label {
  display: inline-block;
  width: 100%;
  position: relative;
  transform: none;
}

form.form-container .MuiFormControl-root input {
  position: relative;
  display: inline-block;
  padding: 5px 5px;
  margin-top: 5px;
}

.error {
  display: inline-block;
  width: 100%;
  margin-top: 5px;
  color: red;
  font-weight: 600;
}
