.parent .last-name {
    background-color: #51E2FE;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parent .profession {
    background-color: #ffa8b6;
    color: #ffffff;
    align-items: flex-end;
    justify-content: center;
    display: flex;
}

.parent {
    display: flex;
    width: 100%;
    justify-content: center;
}

.parent .title {
    display: inline-block;
    width: 100%;
    background-color: #9df9e9;
    margin: 0;
    padding: 15px 0;
    height: auto;
}