.player-container {
    background-color: #51E2FE;
    padding: 20px 0;
}

.player-container:nth-of-type(2n) {
    background-color: #ffa8b6;
}

.player-container:nth-of-type(3n) {
    background-color: #9df9e9;
}

button.btn.btn-danger {
    display: block;
    margin: auto;
    margin-top: 20px;
}

.col-xs-12.mt-2 {
    display: block;
    margin: 10px 0;
}

.col-xs-12.mt-2 label {
    min-width: 65px;
}